USE [GymAppFreshDb]
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 18.03.2026 19:04:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Categories]    Script Date: 18.03.2026 19:04:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Categories](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_Categories] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ChatMessages]    Script Date: 18.03.2026 19:04:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChatMessages](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ThreadId] [int] NOT NULL,
	[Body] [nvarchar](2000) NOT NULL,
	[SenderType] [int] NOT NULL,
	[ClientGuid] [nvarchar](64) NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[IsReadByMember] [bit] NOT NULL,
	[IsReadByStaff] [bit] NOT NULL,
 CONSTRAINT [PK_ChatMessages] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ChatThreads]    Script Date: 18.03.2026 19:04:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChatThreads](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[GymLocationId] [int] NOT NULL,
	[MemberId] [int] NOT NULL,
	[GymStaffId] [int] NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[UpdatedAt] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_ChatThreads] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Cities]    Script Date: 18.03.2026 19:04:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Cities](
	[CityId] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
 CONSTRAINT [PK_Cities] PRIMARY KEY CLUSTERED 
(
	[CityId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Coaches]    Script Date: 18.03.2026 19:04:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Coaches](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NOT NULL,
	[Image] [nvarchar](max) NOT NULL,
	[Bio] [nvarchar](max) NOT NULL,
	[InstagramUrl] [nvarchar](max) NOT NULL,
	[Rating] [decimal](18, 2) NOT NULL,
	[ReviewCount] [int] NOT NULL,
	[StudentCount] [int] NOT NULL,
	[ExperienceYears] [int] NOT NULL,
	[Level] [nvarchar](max) NOT NULL,
	[CategoryId] [int] NOT NULL,
 CONSTRAINT [PK_Coaches] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Courses]    Script Date: 18.03.2026 19:04:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Courses](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NOT NULL,
	[Description] [nvarchar](max) NOT NULL,
	[StartDate] [datetime2](7) NOT NULL,
	[Duration] [float] NOT NULL,
	[CoachId] [int] NULL,
	[Image] [nvarchar](max) NOT NULL,
	[CategoryId] [int] NOT NULL,
	[Level] [nvarchar](max) NULL,
	[Rating] [decimal](18, 2) NOT NULL,
	[ReviewCount] [int] NOT NULL,
	[CoachName] [nvarchar](max) NULL,
	[MaxStudents] [int] NOT NULL,
	[CurrentStudents] [int] NOT NULL,
	[Price] [decimal](18, 2) NOT NULL,
 CONSTRAINT [PK_Courses] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Enrollment]    Script Date: 18.03.2026 19:04:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Enrollment](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[MemberId] [int] NOT NULL,
	[CourseId] [int] NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[Status] [nvarchar](20) NOT NULL,
 CONSTRAINT [PK_Enrollment] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GymImages]    Script Date: 18.03.2026 19:04:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GymImages](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[GymLocationId] [int] NOT NULL,
	[ImagePath] [nvarchar](500) NOT NULL,
 CONSTRAINT [PK_GymImages] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GymLocations]    Script Date: 18.03.2026 19:04:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GymLocations](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[currentMember] [int] NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[Latitude] [float] NOT NULL,
	[Longitude] [float] NOT NULL,
	[OpenTime] [time](7) NOT NULL,
	[CloseTime] [time](7) NOT NULL,
	[WOpenTime] [time](7) NOT NULL,
	[WCloseTime] [time](7) NOT NULL,
	[Images] [nvarchar](max) NULL,
	[IsActive] [bit] NOT NULL,
	[CityId] [int] NOT NULL,
 CONSTRAINT [PK_GymLocations] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GymStaffs]    Script Date: 18.03.2026 19:04:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GymStaffs](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[FullName] [nvarchar](100) NOT NULL,
	[Phone] [nvarchar](max) NULL,
	[Email] [nvarchar](max) NULL,
	[IsActive] [bit] NOT NULL,
	[ShiftStart] [time](7) NULL,
	[ShiftEnd] [time](7) NULL,
	[GymLocationId] [int] NOT NULL,
	[RoleId] [int] NOT NULL,
	[MemberId] [int] NULL,
 CONSTRAINT [PK_GymStaffs] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Members]    Script Date: 18.03.2026 19:04:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Members](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[Email] [nvarchar](max) NOT NULL,
	[Phone] [nvarchar](max) NULL,
	[Password] [nvarchar](100) NOT NULL,
	[IsAdmin] [bit] NOT NULL,
	[IsOnboardingCompleted] [bit] NOT NULL,
	[Gender] [int] NULL,
	[Height] [decimal](18, 2) NULL,
	[Weight] [decimal](18, 2) NULL,
	[BirthDate] [datetime2](7) NULL,
	[FitnessGoal] [int] NULL,
	[daysPerWeek] [int] NULL,
	[MembershipId] [int] NULL,
	[GymLocationId] [int] NULL,
 CONSTRAINT [PK_Members] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Memberships]    Script Date: 18.03.2026 19:04:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Memberships](
	[MembershipId] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NOT NULL,
	[Price] [decimal](18, 2) NOT NULL,
	[PacketType] [int] NOT NULL,
	[CreatedAt] [datetime2](7) NULL,
	[EndDate] [datetime2](7) NULL,
	[IsActive] [bit] NULL,
 CONSTRAINT [PK_Memberships] PRIMARY KEY CLUSTERED 
(
	[MembershipId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Roles]    Script Date: 18.03.2026 19:04:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Roles](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_Roles] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[StaffAppointments]    Script Date: 18.03.2026 19:04:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[StaffAppointments](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[GymStaffId] [int] NOT NULL,
	[MemberId] [int] NOT NULL,
	[StartUtc] [datetime2](7) NOT NULL,
	[EndUtc] [datetime2](7) NOT NULL,
	[Status] [int] NOT NULL,
	[Notes] [nvarchar](max) NULL,
 CONSTRAINT [PK_StaffAppointments] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[StaffTimeOffs]    Script Date: 18.03.2026 19:04:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[StaffTimeOffs](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[GymStaffId] [int] NOT NULL,
	[date] [datetime2](7) NOT NULL,
	[Start] [time](7) NULL,
	[End] [time](7) NULL,
	[Reason] [nvarchar](max) NULL,
 CONSTRAINT [PK_StaffTimeOffs] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[StaffWorkRules]    Script Date: 18.03.2026 19:04:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[StaffWorkRules](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[GymStaffId] [int] NOT NULL,
	[DayOfWeek] [int] NOT NULL,
	[Start] [time](7) NOT NULL,
	[End] [time](7) NOT NULL,
	[IsActive] [bit] NOT NULL,
 CONSTRAINT [PK_StaffWorkRules] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[WorkoutPrograms]    Script Date: 18.03.2026 19:04:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[WorkoutPrograms](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Code] [nvarchar](max) NOT NULL,
	[Title] [nvarchar](max) NOT NULL,
	[Goal] [int] NOT NULL,
	[DaysPerWeek] [int] NOT NULL,
	[Level] [nvarchar](max) NOT NULL,
	[Split] [nvarchar](max) NOT NULL,
	[Equipment] [nvarchar](max) NOT NULL,
	[Description] [nvarchar](max) NULL,
	[PlanJson] [nvarchar](max) NULL,
 CONSTRAINT [PK_WorkoutPrograms] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20250910103259_InitialCreate', N'7.0.20')
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20250910130559_Chat_Messaging', N'7.0.20')
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20250910133518_Chat_MessagingV2', N'7.0.20')
GO
SET IDENTITY_INSERT [dbo].[Categories] ON 

INSERT [dbo].[Categories] ([Id], [Name]) VALUES (1, N'Crossfit')
INSERT [dbo].[Categories] ([Id], [Name]) VALUES (2, N'Yoga')
INSERT [dbo].[Categories] ([Id], [Name]) VALUES (3, N'Pilates')
SET IDENTITY_INSERT [dbo].[Categories] OFF
GO
SET IDENTITY_INSERT [dbo].[ChatMessages] ON 

INSERT [dbo].[ChatMessages] ([Id], [ThreadId], [Body], [SenderType], [ClientGuid], [CreatedAt], [IsReadByMember], [IsReadByStaff]) VALUES (1, 1, N'MERHABA', 1, N'5b0ed3c5-b584-4a6d-8a5d-ea2ed6484312', CAST(N'2025-09-10T13:36:09.1504144' AS DateTime2), 0, 1)
INSERT [dbo].[ChatMessages] ([Id], [ThreadId], [Body], [SenderType], [ClientGuid], [CreatedAt], [IsReadByMember], [IsReadByStaff]) VALUES (2, 1, N'S', 1, N'ab7ff647-fd47-4945-b987-1c815a34c5a3', CAST(N'2025-09-10T13:36:10.8489189' AS DateTime2), 0, 1)
INSERT [dbo].[ChatMessages] ([Id], [ThreadId], [Body], [SenderType], [ClientGuid], [CreatedAt], [IsReadByMember], [IsReadByStaff]) VALUES (3, 3, N'nasılsın', 1, N'fbf95aef-6cdc-4e7d-a55b-45129e0bf94a', CAST(N'2025-09-11T06:41:15.8552373' AS DateTime2), 0, 1)
SET IDENTITY_INSERT [dbo].[ChatMessages] OFF
GO
SET IDENTITY_INSERT [dbo].[ChatThreads] ON 

INSERT [dbo].[ChatThreads] ([Id], [GymLocationId], [MemberId], [GymStaffId], [CreatedAt], [UpdatedAt]) VALUES (1, 6, 3, 1, CAST(N'2025-09-10T13:35:50.6464920' AS DateTime2), CAST(N'2025-09-19T21:53:17.3675971' AS DateTime2))
INSERT [dbo].[ChatThreads] ([Id], [GymLocationId], [MemberId], [GymStaffId], [CreatedAt], [UpdatedAt]) VALUES (2, 6, 3, 2, CAST(N'2025-09-10T13:35:59.8578658' AS DateTime2), CAST(N'2025-09-11T07:39:48.5529060' AS DateTime2))
INSERT [dbo].[ChatThreads] ([Id], [GymLocationId], [MemberId], [GymStaffId], [CreatedAt], [UpdatedAt]) VALUES (3, 6, 4, 1, CAST(N'2025-09-11T06:41:03.7804643' AS DateTime2), CAST(N'2025-09-11T06:41:15.8553626' AS DateTime2))
SET IDENTITY_INSERT [dbo].[ChatThreads] OFF
GO
SET IDENTITY_INSERT [dbo].[Cities] ON 

INSERT [dbo].[Cities] ([CityId], [Name]) VALUES (1, N'İstanbul')
INSERT [dbo].[Cities] ([CityId], [Name]) VALUES (2, N'Ankara')
INSERT [dbo].[Cities] ([CityId], [Name]) VALUES (3, N'İzmir')
SET IDENTITY_INSERT [dbo].[Cities] OFF
GO
SET IDENTITY_INSERT [dbo].[Coaches] ON 

INSERT [dbo].[Coaches] ([Id], [Name], [Image], [Bio], [InstagramUrl], [Rating], [ReviewCount], [StudentCount], [ExperienceYears], [Level], [CategoryId]) VALUES (1, N'Ahmet Yılmaz', N'/images/coachs/1636540898224.png', N'-Açıklama Kısmı-', N'https://www.instagram.com/ahmetyilmaz/', CAST(4.60 AS Decimal(18, 2)), 66, 20, 5, N'İleri', 4)
INSERT [dbo].[Coaches] ([Id], [Name], [Image], [Bio], [InstagramUrl], [Rating], [ReviewCount], [StudentCount], [ExperienceYears], [Level], [CategoryId]) VALUES (2, N'Ayşe Demir', N'/images/coachs/1636540898224.png', N'-Açıklama Kısmı-', N'https://www.instagram.com/aysedemir/', CAST(4.40 AS Decimal(18, 2)), 122, 20, 3, N'Orta', 3)
INSERT [dbo].[Coaches] ([Id], [Name], [Image], [Bio], [InstagramUrl], [Rating], [ReviewCount], [StudentCount], [ExperienceYears], [Level], [CategoryId]) VALUES (3, N'Mehmet Kaya', N'/images/coachs/1636540898224.png', N'-Açıklama Kısmı-', N'https://www.instagram.com/mehmetkaya/', CAST(4.90 AS Decimal(18, 2)), 430, 30, 7, N'Uzman', 1)
SET IDENTITY_INSERT [dbo].[Coaches] OFF
GO
SET IDENTITY_INSERT [dbo].[Courses] ON 

INSERT [dbo].[Courses] ([Id], [Name], [Description], [StartDate], [Duration], [CoachId], [Image], [CategoryId], [Level], [Rating], [ReviewCount], [CoachName], [MaxStudents], [CurrentStudents], [Price]) VALUES (1, N'Crossfit', N'qweqwewqewqewqe', CAST(N'2025-09-10T00:00:00.0000000' AS DateTime2), 8, NULL, N'/images/courses/Fitness-Antrenorluk-Belgesi.jpg', 1, N'İleri', CAST(4.30 AS Decimal(18, 2)), 14, NULL, 30, 4, CAST(800.00 AS Decimal(18, 2)))
INSERT [dbo].[Courses] ([Id], [Name], [Description], [StartDate], [Duration], [CoachId], [Image], [CategoryId], [Level], [Rating], [ReviewCount], [CoachName], [MaxStudents], [CurrentStudents], [Price]) VALUES (2, N'HIIT Antrenmanı', N'-Açıklama Kısmı-', CAST(N'2025-10-01T00:00:00.0000000' AS DateTime2), 10, 1, N'/images/courses/istockphoto-1679800838-612x612 - Kopya.jpg', 5, N'İleri', CAST(4.30 AS Decimal(18, 2)), 20, NULL, 20, 3, CAST(700.00 AS Decimal(18, 2)))
INSERT [dbo].[Courses] ([Id], [Name], [Description], [StartDate], [Duration], [CoachId], [Image], [CategoryId], [Level], [Rating], [ReviewCount], [CoachName], [MaxStudents], [CurrentStudents], [Price]) VALUES (3, N'Vinyasa Yoga', N'-Açıklama Kısmı-', CAST(N'2025-10-08T00:00:00.0000000' AS DateTime2), 8, 4, N'/images/courses/yoga-6.jpg', 2, N'Orta', CAST(4.70 AS Decimal(18, 2)), 100, NULL, 30, 1, CAST(500.00 AS Decimal(18, 2)))
SET IDENTITY_INSERT [dbo].[Courses] OFF
GO
SET IDENTITY_INSERT [dbo].[Enrollment] ON 

INSERT [dbo].[Enrollment] ([Id], [MemberId], [CourseId], [CreatedAt], [Status]) VALUES (1, 1, 1, CAST(N'2025-09-10T10:52:06.5624277' AS DateTime2), N'Approved')
INSERT [dbo].[Enrollment] ([Id], [MemberId], [CourseId], [CreatedAt], [Status]) VALUES (2, 2, 1, CAST(N'2025-09-11T06:50:30.7844355' AS DateTime2), N'Approved')
INSERT [dbo].[Enrollment] ([Id], [MemberId], [CourseId], [CreatedAt], [Status]) VALUES (3, 3, 1, CAST(N'2025-09-11T07:29:59.1701570' AS DateTime2), N'Approved')
SET IDENTITY_INSERT [dbo].[Enrollment] OFF
GO
SET IDENTITY_INSERT [dbo].[GymImages] ON 

INSERT [dbo].[GymImages] ([Id], [GymLocationId], [ImagePath]) VALUES (1, 6, N'/images/gyms/682f7467-107a-49b7-b612-c7115fd15fda.jpg')
INSERT [dbo].[GymImages] ([Id], [GymLocationId], [ImagePath]) VALUES (2, 6, N'/images/gyms/3353b14c-7e15-4554-8fdb-dbdcea579d7e.jpg')
SET IDENTITY_INSERT [dbo].[GymImages] OFF
GO
SET IDENTITY_INSERT [dbo].[GymLocations] ON 

INSERT [dbo].[GymLocations] ([Id], [currentMember], [Name], [Latitude], [Longitude], [OpenTime], [CloseTime], [WOpenTime], [WCloseTime], [Images], [IsActive], [CityId]) VALUES (4, 0, N'GymAppFresh Merkez Salon', 41.0082, 28.9784, CAST(N'06:00:00' AS Time), CAST(N'23:00:00' AS Time), CAST(N'08:00:00' AS Time), CAST(N'22:00:00' AS Time), NULL, 1, 1)
INSERT [dbo].[GymLocations] ([Id], [currentMember], [Name], [Latitude], [Longitude], [OpenTime], [CloseTime], [WOpenTime], [WCloseTime], [Images], [IsActive], [CityId]) VALUES (5, 0, N'GymAppFresh Kadıköy Şubesi', 40.9923, 29.0234, CAST(N'06:00:00' AS Time), CAST(N'23:00:00' AS Time), CAST(N'08:00:00' AS Time), CAST(N'22:00:00' AS Time), NULL, 1, 1)
INSERT [dbo].[GymLocations] ([Id], [currentMember], [Name], [Latitude], [Longitude], [OpenTime], [CloseTime], [WOpenTime], [WCloseTime], [Images], [IsActive], [CityId]) VALUES (6, 0, N'GymApp Bursa Panayır', 40.247237, 29.064608, CAST(N'08:00:00' AS Time), CAST(N'22:00:00' AS Time), CAST(N'09:00:00' AS Time), CAST(N'20:00:00' AS Time), N'/images/gyms/682f7467-107a-49b7-b612-c7115fd15fda.jpg,/images/gyms/3353b14c-7e15-4554-8fdb-dbdcea579d7e.jpg', 1, 4)
SET IDENTITY_INSERT [dbo].[GymLocations] OFF
GO
SET IDENTITY_INSERT [dbo].[GymStaffs] ON 

INSERT [dbo].[GymStaffs] ([Id], [FullName], [Phone], [Email], [IsActive], [ShiftStart], [ShiftEnd], [GymLocationId], [RoleId], [MemberId]) VALUES (1, N'PT 1', N'0505 015 6578', N'pt1@gmail.com', 1, NULL, NULL, 6, 2, 2)
INSERT [dbo].[GymStaffs] ([Id], [FullName], [Phone], [Email], [IsActive], [ShiftStart], [ShiftEnd], [GymLocationId], [RoleId], [MemberId]) VALUES (2, N'PT 2', N'0505 015 6571', N'pt2@gmail.com', 1, NULL, NULL, 7, 2, 5)
SET IDENTITY_INSERT [dbo].[GymStaffs] OFF
GO
SET IDENTITY_INSERT [dbo].[Members] ON 

INSERT [dbo].[Members] ([Id], [Name], [Email], [Phone], [Password], [IsAdmin], [IsOnboardingCompleted], [Gender], [Height], [Weight], [BirthDate], [FitnessGoal], [daysPerWeek], [MembershipId], [GymLocationId]) VALUES (1, N'Admin 1', N'admin1@gmail.com', N'0505 015 6577', N'AQAAAAIAAYagAAAAEMh1vwdTvHwHGye63Q9USUXkf3K25BezlpGf1JyiLCY+SlkpQs1Rwn4fZ1lkJQyAjA==', 1, 1, 1, CAST(190.00 AS Decimal(18, 2)), CAST(83.00 AS Decimal(18, 2)), CAST(N'2003-06-26T00:00:00.0000000' AS DateTime2), 5, 4, 3, 6)
INSERT [dbo].[Members] ([Id], [Name], [Email], [Phone], [Password], [IsAdmin], [IsOnboardingCompleted], [Gender], [Height], [Weight], [BirthDate], [FitnessGoal], [daysPerWeek], [MembershipId], [GymLocationId]) VALUES (2, N'PT 1', N'pt1@gmail.com', N'0505 015 6578', N'AQAAAAIAAYagAAAAEH4yErTl9RIwqPX4t9dHGGCqUdMWDRhdy+aoSBvNJLmIF4Nak7M2/226JmtzZHxaaQ==', 0, 1, 1, CAST(193.00 AS Decimal(18, 2)), CAST(83.00 AS Decimal(18, 2)), CAST(N'1993-03-03T00:00:00.0000000' AS DateTime2), 4, 6, 2, 6)
INSERT [dbo].[Members] ([Id], [Name], [Email], [Phone], [Password], [IsAdmin], [IsOnboardingCompleted], [Gender], [Height], [Weight], [BirthDate], [FitnessGoal], [daysPerWeek], [MembershipId], [GymLocationId]) VALUES (3, N'user 1', N'testuser@gmail.com', N'0505 015 6579', N'AQAAAAIAAYagAAAAEPx/GFbOCn7kmc6o7nGF1R8IsToMKNyctRELpRGWzS9iadduOvhiD8Pp3fT+u+g2IA==', 0, 1, 1, CAST(190.00 AS Decimal(18, 2)), CAST(96.00 AS Decimal(18, 2)), CAST(N'2002-10-09T00:00:00.0000000' AS DateTime2), 5, 4, 1, 6)
SET IDENTITY_INSERT [dbo].[Members] OFF
GO
SET IDENTITY_INSERT [dbo].[Memberships] ON 

INSERT [dbo].[Memberships] ([MembershipId], [Name], [Price], [PacketType], [CreatedAt], [EndDate], [IsActive]) VALUES (1, N'Classic', CAST(500.00 AS Decimal(18, 2)), 1, CAST(N'2025-09-10T10:33:20.0436795' AS DateTime2), CAST(N'2026-09-10T10:33:20.0437067' AS DateTime2), 1)
INSERT [dbo].[Memberships] ([MembershipId], [Name], [Price], [PacketType], [CreatedAt], [EndDate], [IsActive]) VALUES (2, N'Gold', CAST(800.00 AS Decimal(18, 2)), 2, CAST(N'2025-09-10T10:33:20.0437447' AS DateTime2), CAST(N'2026-09-10T10:33:20.0437448' AS DateTime2), 1)
INSERT [dbo].[Memberships] ([MembershipId], [Name], [Price], [PacketType], [CreatedAt], [EndDate], [IsActive]) VALUES (3, N'Platinum', CAST(1200.00 AS Decimal(18, 2)), 3, CAST(N'2025-09-10T10:33:20.0437450' AS DateTime2), CAST(N'2026-09-10T10:33:20.0437451' AS DateTime2), 1)
SET IDENTITY_INSERT [dbo].[Memberships] OFF
GO
SET IDENTITY_INSERT [dbo].[Roles] ON 

INSERT [dbo].[Roles] ([Id], [Name]) VALUES (1, N'Manager')
INSERT [dbo].[Roles] ([Id], [Name]) VALUES (2, N'PT')
SET IDENTITY_INSERT [dbo].[Roles] OFF
GO
SET IDENTITY_INSERT [dbo].[StaffAppointments] ON 

INSERT [dbo].[StaffAppointments] ([Id], [GymStaffId], [MemberId], [StartUtc], [EndUtc], [Status], [Notes]) VALUES (1, 1, 3, CAST(N'2025-09-11T08:00:00.0000000' AS DateTime2), CAST(N'2025-09-11T10:00:00.0000000' AS DateTime2), 1, NULL)
INSERT [dbo].[StaffAppointments] ([Id], [GymStaffId], [MemberId], [StartUtc], [EndUtc], [Status], [Notes]) VALUES (4, 1, 3, CAST(N'2025-09-18T08:00:00.0000000' AS DateTime2), CAST(N'2025-09-18T10:00:00.0000000' AS DateTime2), 1, NULL)
INSERT [dbo].[StaffAppointments] ([Id], [GymStaffId], [MemberId], [StartUtc], [EndUtc], [Status], [Notes]) VALUES (5, 1, 3, CAST(N'2025-09-22T08:00:00.0000000' AS DateTime2), CAST(N'2025-09-22T10:00:00.0000000' AS DateTime2), 1, NULL)
SET IDENTITY_INSERT [dbo].[StaffAppointments] OFF
GO
SET IDENTITY_INSERT [dbo].[StaffTimeOffs] ON 

INSERT [dbo].[StaffTimeOffs] ([Id], [GymStaffId], [date], [Start], [End], [Reason]) VALUES (1, 1, CAST(N'2025-09-12T00:00:00.0000000' AS DateTime2), CAST(N'13:00:00' AS Time), CAST(N'16:00:00' AS Time), N'hastane izni')
SET IDENTITY_INSERT [dbo].[StaffTimeOffs] OFF
GO
SET IDENTITY_INSERT [dbo].[StaffWorkRules] ON 

INSERT [dbo].[StaffWorkRules] ([Id], [GymStaffId], [DayOfWeek], [Start], [End], [IsActive]) VALUES (1024, 1, 1, CAST(N'09:00:00' AS Time), CAST(N'17:00:00' AS Time), 1)
INSERT [dbo].[StaffWorkRules] ([Id], [GymStaffId], [DayOfWeek], [Start], [End], [IsActive]) VALUES (1025, 1, 2, CAST(N'09:00:00' AS Time), CAST(N'17:00:00' AS Time), 1)
INSERT [dbo].[StaffWorkRules] ([Id], [GymStaffId], [DayOfWeek], [Start], [End], [IsActive]) VALUES (1026, 1, 5, CAST(N'13:00:00' AS Time), CAST(N'17:00:00' AS Time), 1)
SET IDENTITY_INSERT [dbo].[StaffWorkRules] OFF
GO
SET IDENTITY_INSERT [dbo].[WorkoutPrograms] ON 

INSERT [dbo].[WorkoutPrograms] ([Id], [Code], [Title], [Goal], [DaysPerWeek], [Level], [Split], [Equipment], [Description], [PlanJson]) VALUES (1, N'FATLOSS_BEG_3D', N'Yağ Yakım – Başlangıç (3 gün)', 1, 3, N'Beginner', N'FullBody', N'Bodyweight,Dumbbell', N'Full body + LISS (30-40dk).', NULL)
INSERT [dbo].[WorkoutPrograms] ([Id], [Code], [Title], [Goal], [DaysPerWeek], [Level], [Split], [Equipment], [Description], [PlanJson]) VALUES (2, N'HYPER_UL_4D', N'Kas Geliştirme – Upper/Lower (4 gün)', 5, 4, N'Beginner', N'UpperLower', N'Dumbbell,Barbell,Machines', N'Progressive overload odaklı.', NULL)
INSERT [dbo].[WorkoutPrograms] ([Id], [Code], [Title], [Goal], [DaysPerWeek], [Level], [Split], [Equipment], [Description], [PlanJson]) VALUES (3, N'ENDUR_FB_3D', N'Kondisyon – Full Body (3 gün)', 6, 3, N'Beginner', N'FullBody', N'Bodyweight', N'Düşük-orta yoğunluk, nefes ve tempo.', NULL)
SET IDENTITY_INSERT [dbo].[WorkoutPrograms] OFF
GO
ALTER TABLE [dbo].[ChatThreads] ADD  DEFAULT (getutcdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[ChatThreads] ADD  DEFAULT (getutcdate()) FOR [UpdatedAt]
GO
ALTER TABLE [dbo].[ChatMessages]  WITH CHECK ADD  CONSTRAINT [FK_ChatMessages_ChatThreads_ThreadId] FOREIGN KEY([ThreadId])
REFERENCES [dbo].[ChatThreads] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ChatMessages] CHECK CONSTRAINT [FK_ChatMessages_ChatThreads_ThreadId]
GO
ALTER TABLE [dbo].[Coaches]  WITH CHECK ADD  CONSTRAINT [FK_Coaches_Categories_CategoryId] FOREIGN KEY([CategoryId])
REFERENCES [dbo].[Categories] ([Id])
GO
ALTER TABLE [dbo].[Coaches] CHECK CONSTRAINT [FK_Coaches_Categories_CategoryId]
GO
ALTER TABLE [dbo].[Courses]  WITH CHECK ADD  CONSTRAINT [FK_Courses_Categories_CategoryId] FOREIGN KEY([CategoryId])
REFERENCES [dbo].[Categories] ([Id])
GO
ALTER TABLE [dbo].[Courses] CHECK CONSTRAINT [FK_Courses_Categories_CategoryId]
GO
ALTER TABLE [dbo].[Courses]  WITH CHECK ADD  CONSTRAINT [FK_Courses_Coaches_CoachId] FOREIGN KEY([CoachId])
REFERENCES [dbo].[Coaches] ([Id])
GO
ALTER TABLE [dbo].[Courses] CHECK CONSTRAINT [FK_Courses_Coaches_CoachId]
GO
ALTER TABLE [dbo].[Enrollment]  WITH CHECK ADD  CONSTRAINT [FK_Enrollment_Courses_CourseId] FOREIGN KEY([CourseId])
REFERENCES [dbo].[Courses] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Enrollment] CHECK CONSTRAINT [FK_Enrollment_Courses_CourseId]
GO
ALTER TABLE [dbo].[Enrollment]  WITH CHECK ADD  CONSTRAINT [FK_Enrollment_Members_MemberId] FOREIGN KEY([MemberId])
REFERENCES [dbo].[Members] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Enrollment] CHECK CONSTRAINT [FK_Enrollment_Members_MemberId]
GO
ALTER TABLE [dbo].[GymImages]  WITH CHECK ADD  CONSTRAINT [FK_GymImages_GymLocations_GymLocationId] FOREIGN KEY([GymLocationId])
REFERENCES [dbo].[GymLocations] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[GymImages] CHECK CONSTRAINT [FK_GymImages_GymLocations_GymLocationId]
GO
ALTER TABLE [dbo].[GymLocations]  WITH CHECK ADD  CONSTRAINT [FK_GymLocations_Cities_CityId] FOREIGN KEY([CityId])
REFERENCES [dbo].[Cities] ([CityId])
GO
ALTER TABLE [dbo].[GymLocations] CHECK CONSTRAINT [FK_GymLocations_Cities_CityId]
GO
ALTER TABLE [dbo].[GymStaffs]  WITH CHECK ADD  CONSTRAINT [FK_GymStaffs_GymLocations_GymLocationId] FOREIGN KEY([GymLocationId])
REFERENCES [dbo].[GymLocations] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[GymStaffs] CHECK CONSTRAINT [FK_GymStaffs_GymLocations_GymLocationId]
GO
ALTER TABLE [dbo].[GymStaffs]  WITH CHECK ADD  CONSTRAINT [FK_GymStaffs_Members_MemberId] FOREIGN KEY([MemberId])
REFERENCES [dbo].[Members] ([Id])
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[GymStaffs] CHECK CONSTRAINT [FK_GymStaffs_Members_MemberId]
GO
ALTER TABLE [dbo].[GymStaffs]  WITH CHECK ADD  CONSTRAINT [FK_GymStaffs_Roles_RoleId] FOREIGN KEY([RoleId])
REFERENCES [dbo].[Roles] ([Id])
GO
ALTER TABLE [dbo].[GymStaffs] CHECK CONSTRAINT [FK_GymStaffs_Roles_RoleId]
GO
ALTER TABLE [dbo].[Members]  WITH CHECK ADD  CONSTRAINT [FK_Members_GymLocations_GymLocationId] FOREIGN KEY([GymLocationId])
REFERENCES [dbo].[GymLocations] ([Id])
GO
ALTER TABLE [dbo].[Members] CHECK CONSTRAINT [FK_Members_GymLocations_GymLocationId]
GO
ALTER TABLE [dbo].[Members]  WITH CHECK ADD  CONSTRAINT [FK_Members_Memberships_MembershipId] FOREIGN KEY([MembershipId])
REFERENCES [dbo].[Memberships] ([MembershipId])
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[Members] CHECK CONSTRAINT [FK_Members_Memberships_MembershipId]
GO
ALTER TABLE [dbo].[StaffAppointments]  WITH CHECK ADD  CONSTRAINT [FK_StaffAppointments_GymStaffs_GymStaffId] FOREIGN KEY([GymStaffId])
REFERENCES [dbo].[GymStaffs] ([Id])
GO
ALTER TABLE [dbo].[StaffAppointments] CHECK CONSTRAINT [FK_StaffAppointments_GymStaffs_GymStaffId]
GO
ALTER TABLE [dbo].[StaffAppointments]  WITH CHECK ADD  CONSTRAINT [FK_StaffAppointments_Members_MemberId] FOREIGN KEY([MemberId])
REFERENCES [dbo].[Members] ([Id])
GO
ALTER TABLE [dbo].[StaffAppointments] CHECK CONSTRAINT [FK_StaffAppointments_Members_MemberId]
GO
ALTER TABLE [dbo].[StaffTimeOffs]  WITH CHECK ADD  CONSTRAINT [FK_StaffTimeOffs_GymStaffs_GymStaffId] FOREIGN KEY([GymStaffId])
REFERENCES [dbo].[GymStaffs] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[StaffTimeOffs] CHECK CONSTRAINT [FK_StaffTimeOffs_GymStaffs_GymStaffId]
GO
ALTER TABLE [dbo].[StaffWorkRules]  WITH CHECK ADD  CONSTRAINT [FK_StaffWorkRules_GymStaffs_GymStaffId] FOREIGN KEY([GymStaffId])
REFERENCES [dbo].[GymStaffs] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[StaffWorkRules] CHECK CONSTRAINT [FK_StaffWorkRules_GymStaffs_GymStaffId]
GO
